* {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    background-color: #1c1c1c;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 25);
}

.top {
    position: relative;
    margin-top: 23px;
    margin-right: 0px;
    float: left;
    padding-right: 35px;
    padding-left: 35px;
}

.nav-Hfonts {
    font-family: "Source Code Pro";
    position: relative;
    font-size: 18px;
    color: #f2ff00;
    text-decoration: none;

}

.nav-Hfonts:hover {
    display: inline-block;
    text-transform: uppercase;
    animation: adel 1s ease-in-out infinite;
}

.nav-fonts {
    font-family: "Source Code Pro";
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-fonts:hover {
    display: inline-block;
    text-transform: uppercase;
    animation: adel 1s ease-in-out infinite;
}

@keyframes adel {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }

}

.logo {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;

}

#back-photo {
    float: left;
    clear: left;
    width: 40vw;
    margin-top: 90px;
    margin-bottom: 120px;
}

.section-1 {
    display: flex;
}

.wrapper-full {
    position: relative;
    float: right;
    clear: right;
    margin-top: 200px;
}

.wrapper {
    font-family: "Source Code Pro";
    font-weight: bolder;
    display: inline-flex;
    align-content: space-between;
}
.wrapper .static-txt{
    font-size: 50px;
}
.section-1{
    color: #f2ff00;
}
.static-txt-2{
    color: white;
    margin-left: 30px;
}
.wrapper-full .dynamic-txt{
    /*margin-left: 15px;*/
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txt li{
    color: #f0f0f0;
    list-style: none;
    font-size: 60px;
    font-weight: normal;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;

}
@keyframes slide {
    100%{
        top: -360px;
    }
}

.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li  span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1c1e23;
    border-left: 2px solid  #f2ff00;
    animation: typing 2s steps(15) infinite;

}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.icon-tab{
    position: relative;
    align-content: center;
    margin-top: 200px;
}
.icon{
    float: left;
    width: 3px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;

}
.icon .img1{
    width: 100%;
}

h1 {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: bolder;
    color: #f2ff00;
    text-align: center;
    font-size: 75px;
    line-height: 70px;
    text-decoration: none;
}

h1.shadow {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: bolder;
    color: black;
    Align: Left;
    Vertical-align: Top;
    letter-spacing: 8px;
    line-height: 1px;
    opacity: 50%;
    text-decoration: none;
}
